@model Applabs.Marketing.Demo.Models.ALSMarketing

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>ALSMarketing</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Employee)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Employee)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Marketer)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Marketer)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Date)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Date)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Status)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Status)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.Marketing_Id }) |
    @Html.ActionLink("Back to List", "Index")
</p>
